.child{
    border:1px solid #000;
    margin: 20px;
    padding: 20px;
}
h2{
    text-align: center;
    color: brown;
}
button{
    margin-left: 5px;
    color: #fff;
    background-color: rgb(66, 94, 94);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
input{
    height: 22px;
}